__pycache__
venv
CORR.tif
CORR.tif.aux.xml
COS.tif
COS.tif.aux.xml
EUCL.tif
EUCL.tif.aux.xml
EVI.tif
EVI.tif.aux.xml
NDVI.tif
NDVI.tif.aux.xml
NGRDI.tif
NGRDI.tif.aux.xml
PCA.tif
PCA.tif.aux.xml
20170706_102911_0f43_AnalyticMS_SR.tif.aux.xml
20180723_104602_103c_AnalyticMS_SR.tif.aux.xml
